*{
    margin: 0;
    padding: 0;
  }
  
  header {
      display: flex;
      background-image: url(../images/header.jpg);
      height: 880px;
      background-size: cover;
      flex-direction: column;
  
  
  
  }
  
  
  .text-header{
      display: flex;
      justify-content: space-between;
      margin: 90px 165px;
      padding: 10px;
  }
  
  
  
  
  .logo-esquina{
      height: 100px;
  }
  
  .texto{
      display:flex;
      font-family:Arial, Helvetica, sans-serif;
      color: white;
      margin: 35px 50px;
  
  }
  