* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-image: url(../assets/images/encabezado.jpg);
    height: 95vh;
    background-size: cover;
    flex-direction: column;
}

main {
    height: 140vh;
}

.text-header {
    display: flex;
    justify-content: space-between;
    margin: 90px 160px 50px 160px;
    /*arriba,izquierda,abajo y derecha*/
    padding: 10px;
}

.logo-esquina {
    height: 100px;

}

.texto {
    display: flex;

    color: white;
    margin: 35px 50px;
    font-size: 20px;

}

.Titles {

    font-size: 68px;
    color: white;


}



.Parrafos {
    color: white;
    font-size: 20px;

}

.text-Header {
    margin: 0px 165px;
    color: white;
}

.boton {
    background-color: rgb(4, 248, 146);
    font-weight: bold;
    border-radius: 15px;
    padding: 10px 20px
}

.Title-body {
    color: #3b3939;
    font-size: 70px;
    margin: 70px;
}

body {
    background: linear-gradient(169deg, rgb(255, 255, 255) 0 70%, rgb(55, 244, 165) 70% 100%);
    /* Fondo degradado */

}



.logos-body {
    display: flex;
    justify-content: space-evenly;

}


.nav-text-logos {
    display: flex;
    justify-content: center;
    gap: 130px;
    font-size: 15px;
    color: #252424;
}

.nav-text-logos1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;

}

.Texto-cuerpo {
    display: flex;
    justify-content: space-between;
    margin: 130px 275px;
}

.titulo {
    font-size: 45px;
    color: #252424;
    margin: 0px 0px 15px 0px;
}


.Texto-cuerpo p {
    margin-top: 8px;
}

.boton-body {
    background-color: rgb(2, 13, 44);
    color: white;
    border-radius: 15px;
    width: 120px;
    margin-top: 45px;
    height: 40px;

}

.logo-nav {
    display: flex;
    align-items: flex-end;
    width: 500px;
    height: 300px;

}

.Texto-cuerpo2 {
    display: flex;
    justify-content: space-evenly;
    margin: 130px 250px;

}

.Texto-cuerpo2 p {
    margin-top: 8px;
}


.parrafo-boton p {
    margin-top: 20px;
}

.imagen {
    height: 280px;
    width: 550px;
}


.precios {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
}

.titulo-precios {

    margin-top: 0px;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 90px;

}

.precios1 {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 15px 0px;
    padding-top: 30px;
    align-items: center;
}

.boton-startup {
    margin-top: 40px;
    background-color: rgba(4, 248, 146, 0);
    font-weight: bolder;
    border-radius: 20px;
    padding: 10px 15px;
    width: 120px;
}

.premium {
    width: 400px;
    text-align: center;
    color: #fff;
    background-color: #192440;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 60px;
    border-radius: 1%;
}

.premium p {
    line-height: 30px;
}

.precios1 p {
    line-height: 30px;
}

.boton-premium {
    margin-top: 40px;
    background-color: rgb(4, 248, 146);
    font-weight: bolder;
    border-radius: 20px;
    padding: 10px 15px;
    width: 120px;
}

.boton-professional {

    margin-top: 40px;
    background-color: rgba(4, 248, 146, 0);
    font-weight: bolder;
    border-radius: 20px;
    padding: 10px 15px;
    width: 120px;
}

.startup-title {
    font-size: 20px;
    font-weight: bolder;
}

.premium-title {
    font-size: 20px;
    font-weight: bolder;
}

.professional-title {
    font-size: 20px;
    font-weight: bolder;
}

.precios span {
    font-size: 90px;
}

.marcas {
    background-color: #ECEEEF;
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-evenly;
}

.ultimo-section {
    display: flex;
    background-image: url(../assets/images/contact-bk.jpg);


    width: 100%;
    height: 500px;

    justify-content: space-evenly;

}

.primer-apartado {
    color: white;
    margin: 100px 0px;
    margin-right: 280px;

}

.segundo-apartado {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 100px 0px;
    margin-right: 200px;

}

.titulo-ultimaSection {
    font-size: 45px;
    margin-bottom: 30px;
}

.parrafo2 {
    margin-bottom: 25px;
}

.parrafo {
    margin-bottom: 15px;
}

.title-input {
    color: #00F182;

}

.title-input1 {
    color: #00F182;
}

.inputs {
    background-color: transparent;
    border-radius: 5px;
    height: 25px;
    width: 220px;
    border-color: #00F182;
    margin: 10px 0px;

}

.arreglar-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.input-mensaje {
    border-radius: 5px;
    border-color: #00F182;
    background-color: transparent;
    width: 510px;
    height: 70px;
    margin-bottom: 25px;

}

.titulo-mensaje {
    color: #00F182;
    margin-bottom: 10px;
}

.boton-ultimaSection {
    background-color: rgb(4, 248, 146);
    border-radius: 35px;
    width: 510px;
    height: 42px;
    margin: 5px 0px;

}

footer {
    display: flex;
    align-items: center;
    height: 150px;
    color: white;
    background-color: #192440;


    justify-content: space-between;
}

.ultimoP {
    margin-left: 280px;
}

.imagenFacebook {
    width: 80px;
    height: 80px;
}

.imagenTwitter {
    width: 68px;
    height: 68px;
    margin-bottom: 5px;
}

.imagenBmw {
    width: 57px;
    height: 57px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.imagenInstagram {
    margin-right: 280px;
    width: 80px;
    height: 80px;
}

@media screen and (max-width: 1279px) {
    .logos-body {
        height: 150px;
    }
   
    .nav-text-logos {

        white-space: nowrap;
        gap: 70px;
        font-size: 15px;
        color: #252424;
    }

    .nav-text-logos1 {
        margin-bottom: 0px;
    }

    .titulo {
        font-size: 30px;
    }

    .section2 {
        align-items: flex-start;
        margin-right: 50px;
        width: 250px;
        font-size: 15px;
    }

    .Texto-cuerpo {
        margin-top: 50px;

        gap: 160px;
    }

    .logo-nav {

        margin: 120px 0px 20px 0px;
        width: 500px;
        height: 280px;

    }

    .ultimo-section {
        padding: 20px 150px;
    }

    footer {
        width: 148vh;
        justify-content: space-between;
    }

    h2 {
        color: aqua;
    }

    .marcas {

        width: 148vh;
    }

    .segundo-apartado {
        margin-right: 300px;
    }


}
@media screen and (max-width: 920px) {

    header {
        width: 180vh;
        
    }

    body {
        width: 100%;
    }

    main {
        width: 100%;
    }

    .logo-nav {

        margin: 130px 0px 0px 0px;
        width: 500px;
        height: 280px;

    }
    .Titles{
        font-size: 45px;
    }
    h2 {

        color: aquamarine;
    }

    .nav-text-logos {

        white-space: nowrap;
        gap: 40px;
        font-size: 15px;
        color: aquamarine;
    }

    .Texto-cuerpo {
        justify-content: space-evenly;

        margin: 0px 0px 0px 0px;
    }

    .section2 {
        margin: 50px 50px;
    }

    .Title-body {
        font-size: 50px;
    }

    .text-header {
        width: 700px;
    }

    .Parrafos {
        font-size: 20px;

        width: 700px;
    }

    .Texto-cuerpo2 {
        justify-content: flex-end;
    }

    .ultimo-section {
        padding: 10px;
        align-items: center;
    }

    .primer-apartado {
        margin-right: 200px;
    }

    footer {
        width: 130vh;
        height: 170px;
        justify-content: space-between;
    }

    .marcas {
        width: 102%;
    }
}

@media screen and (max-width: 768px) {

    main {
        width: 120%;
    }

    h2 {
        color: #008b45;
    }

    header {
        width: 108vh;
    }

    .section2 {
        margin: 20px;
    }

    .text-header {
        justify-content: space-between;
        margin: 0px 50px;
    }

    .text-Header {
        margin: 0px 20px;
    }

    .Titles {
        font-size: 55px;
        margin-top: 100px;
    }

    .Title-body {
        text-align: center;
        font-size: 35px;
        width: 80vh;
        justify-content: center;
    }

    .logos-body {
        width: 100vh;
        justify-content: space-around;
    }

    .nav-text-logos {
        width: 75vh;
        justify-content: space-between;
    }

    .nav-text-logos1 {
        width: 70vh;
        font-size: 15px;
        justify-content: space-evenly;
        gap: 120px;

    }
    
    .texto-logos1 {
        justify-content: space-between;
        width: 10px;
        margin: 10px 70px;
    }

    .Texto-cuerpo {
        width: 80vh;
        justify-content: space-evenly;
        gap: 30px;
    }

    .feature-1{
        width: 120vh;
        height: 0vh;
    }

    

    .titulo{
        margin-left: 20px;
    }
    .texto-titulo-body{
        margin-left: 20px;
    }

    .Texto-cuerpo2 {
        width: 50vh;
        justify-content: space-evenly;
        margin: 70px 0px;
    }

    .parrafo-boton {
        width: 700px;
    }

    .titulo-precios {
        width: 80vh;
        justify-content: center;
    }

    .precios {
        width: 100vh;
        justify-content: space-around;
    }

    .marcas {
        height: 50px;
        width: 105vh;
        justify-content: baseline;
    }

    .ultimo-section {
        padding: 20px;
        padding-left: 20px;
        width: 100vh;
        gap: 10px;
    }

    .titulo-ultimaSection {
        white-space: nowrap;
    }

    .arreglar-inputs {
        width: 250px;
        flex-direction: column;



    }

    .inputs {
        width: 230px;
        margin: 0px 0px 10px 0px;
    }

    .input-mensaje {
        width: 230px;
    }

    .boton-ultimaSection {
        width: 230px;
    }

    footer {
        align-items: center;
        width: 110vh;
        justify-content: center;
        flex-wrap: wrap;
    }

    .ultimoP {
        margin: 0px 20px;
    }

    .imagenes {
        width: 100vh;
        margin-left: 200px;
    }


}
@media screen and (max-width: 480px){
    
    main {
        width: 120%;
        background-size: cover;
    }

    h2 {
        color: #e1ec07;
    }

    header {
        width: 82vh;
        
    }

    .textoTitulo{
        font-size: 65px;
        padding-bottom: 30px;
    }

    .text-header{
        width: 550px;
    }
    .Parrafos{
        font-size: 15.5px;
    }

    .section2 {
        margin: 20px;
    }

    .text-header {
        justify-content: space-between;
        margin: 0px 50px;
    }

    .text-Header {
        margin: 0px 20px;
    }

    .Titles {
        font-size: 55px;
        margin-top: 100px;
    }

    .Title-body {
        text-align: center;
        font-size: 35px;
        width: 60vh;
        justify-content: center;
    }

    .logos-body {
        width: 85vh;
        justify-content: space-around;
    }

    .nav-text-logos {
        width: 60vh;
        justify-content: space-between;
        font-size: 12px;
        
    }

    
    .nav-text-logos1 {
        width: 60px;
        font-size: 10px;
        justify-content: space-between;
    }
    
    .texto-logos1 {
        justify-content: space-between;
        width: 60vh;
        margin-top: 1px;
        margin: 40px;
    }

    .Texto-cuerpo {
        width: 80vh;
        justify-content: space-evenly;
        gap: 30px;
    }

    .feature-1{
        width: 120vh;
        height: 0vh;
    }

    

    .titulo{
        margin-top: 20px;
        margin-left: 20px; 
        
    }

    .logo-nav{
        width: 390px;
    }
    .texto-titulo-body{
        margin-left: 20px;
    }

    .Texto-cuerpo2 {
        width: 50vh;
        justify-content: space-evenly;
        margin: 70px 0px;
    }

    .parrafo-boton {
        width: 700px;
    }

    .titulo-precios {
        width: 80vh;
        justify-content: center;
    }

    .precios {
        width: 100vh;
        justify-content: space-around;
    }

    .marcas {
        height: 50px;
        width: 105vh;
        justify-content: baseline;
    }

    .ultimo-section {
        padding: 20px;
        padding-left: 20px;
        width: 100vh;
        gap: 10px;
    }

    .titulo-ultimaSection {
        white-space: nowrap;
    }

    .arreglar-inputs {
        width: 250px;
        flex-direction: column;



    }

    .inputs {
        width: 230px;
        margin: 0px 0px 10px 0px;
    }

    .input-mensaje {
        width: 230px;
    }

    .boton-ultimaSection {
        width: 230px;
    }

    footer {
        align-items: center;
        width: 110vh;
        justify-content: center;
        flex-wrap: wrap;
    }

    .ultimoP {
        margin: 0px 20px;
    }

    .imagenes {
        width: 100vh;
        margin-left: 200px;
    }

}